body {

/*	background: url('../images/bg.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;

}

html {


}

li {

	display: inline-block;

}

ul {

	margin: 0px;
	padding: 0px;
}


img {

	background: rgba(0, 0, 0, 0.5);

}


.city:hover {

background: rgba(51,122,183, 0.85);

}

.city {
  width: 200px;
  border-radius: 20px;

}

#logo {
  border-radius: 3px;
  background: none;

}

#connectWithProd {
  border-radius: 10px;
  background-color: #ff5500;
  color: white;
}

#connectWithProd:hover {
 background: rgba(235, 85, 0, .95);
}

/* Classes */


.mainImage {

	background-size: cover;
	background-repeat: no-repeat;

}

.front {

	z-index: 2;
}

.hollow {

	background: rgba (0, 0, 0, 0.5);
	border: solid 1px white;
	color: white;

}

.hollow:hover {

	background: rgba(18, 169, 154, 1);
	color: white;
}

.navMain {

padding: 5px;

}

.jumbotron {

	height: 600px;

}

.logoText {
	font-family: 'Lobster', cursive;
	vertical-align: text-bottom;
/*	margin-top: 10px;*/
}

.blackBg {
	background: rgba(0, 0, 0, 0.0);
	margin: 0px;
	padding: 0px;

}

.footer {

	background-color: black;
	margin-top: 20px;

}

.logoSpace {

	padding: 3px;
}

.imageSpace {

	padding: 10px;
}

.imageCorners {

	border-radius: 30px;
	border: solid grey 1px;
}

img:hover {

	background: rgba(250, 250, 250, 0.8);
	border-radius: 30px;

}

.footerText {

	padding-top: 25px;
  padding-bottom: 25px;
}

.topBorder {

	border-top: solid 3px grey;
	padding: 10px;

}

.bottom {
	background-color: black;
	color: white;
}

.userInput {

	margin-top: 45px;
	width: 500px;
}

.leftAlign {

	text-align: left;
}

/* Modal CSS */

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
/* Fonts */

h1, h2, h3, h4, h5 {

color: white;

}
#map{
    height :400px;
}

#proconnectlogo {
    background: none;
    margin-top: -38px;
}

#proconnectlogo2 {
    background: none;
    opacity: .9;
}

.city:hover {
background: rgba(63, 63, 191, .7);
}

.city {
  width: 200px;
  border-radius: 20px;

}

#logo {
  border-radius: 3px;
  background-color: none;

}

#logo:hover {
  background: none;
  color: none;
  background-color: #d58512;
  background-color: #ff5500;
  color: white;
  border-radius: 0px;


}

#connectwithprod {
  border-radius: 15px;
}

.btn-warning {
  background-color: #d58512;
  background-color: #ff5500;
  color: white;
  border-radius: 0px;

}


#contactform {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  height: 5%;
  width: 70%;
  padding-top: 30px;

}

#footerdiv {
  margin-top: 150px;
}

#contactustext {
  font-size: 40px;
}
