body {

	background: url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

html {


}

li {

	display: inline-block;

}

ul {

	margin: 0px;
	padding: 0px;
}


img {

	background: rgba(0, 0, 0, 0.5);

}

/* Classes */

.front {

	z-index: 2;
}

.hollow {

	background: rgba (0, 0, 0, 0.5);
	border: solid 1px white;
	color: white;

}

.hollow:hover {

	background: rgba(18, 169, 154, 1);
	color: white;
}

.navMain {

padding: 5px;

}

.jumbotron {

	height: 600px;

}

.logoText {
	font-family: 'Lobster', cursive;
	vertical-align: text-bottom;
/*	margin-top: 10px;*/
}

.blackBg {
	background: rgba(0, 0, 0, 0.0);
	margin: 0px;
	padding: 0px;

}

.center {

	text-align: center;
}

.footer {

	background-color: black;
	margin-top: 20px;

}

.logoSpace {

	padding: 3px;
}

.imageSpace {

	padding: 10px;
}

.imageCorners {

	border-radius: 30px;
	border: solid grey 1px;
}

img:hover {

	background: rgba(250, 250, 250, 0.8);
	border-radius: 30px;

}

.footerText {

	margin: 20px 0px 20px 0px;
}

.topBorder {

	border-top: solid 3px grey;
	padding: 10px;

}

.bottom {
	background-color: black;
	color: white;
}

.userInput {

	margin-top: 45px;
	width: 500px;
}

.leftAlign {

	text-align: left;
}

/* Modal CSS */

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}
/* Fonts */

h1, h2, h3, h4, h5 {

color: white;

}
#map{
    height :400px;
}


